== Module {module-number}: {{ module.title }}
:imagesdir: images
:source-highlighter: rouge
:icons: font

ifdef::logo[]
image::{logo}[align="left", pdfwidth=25%]
endif::[]

{SP}
{SP}

[discrete]
=== Learning Objectives
[grid=none,frame=none,cols="25%a,75%a"]
|===
|image::agenda.svg[align="left",pdfwidth=50%]|
ifeval::["{artifact-type}" != "SLIDE"]
Upon completion of this module, learners will be able to:
{% for obj in module.objectives %}
* {{ obj }}
{% endfor %}
endif::[]

ifeval::["{artifact-type}" == "SLIDE"]
{% for obj in (module.objectives or [])[:2] %}
* {{ obj }}
{% endfor %}
endif::[]
|===

<<<

{% for lesson in module.lessons %}
=== {{ lesson.title }}

ifeval::["{artifact-type}" == "IG"]
*Instructor Note:* {{ lesson.instructor_note }}
endif::[]

ifeval::["{artifact-type}" != "SLIDE"]
{{ lesson.summary }}

{% if lesson.activity %}
*Activity:* {{ lesson.activity }}
{% endif %}
endif::[]

ifeval::["{artifact-type}" == "SLIDE"]
{% for b in (lesson.bullets or []) %}
* {{ b }}
{% endfor %}
endif::[]

{% if lesson.topics %}
{% for topic in lesson.topics %}
==== {{ topic.title }}

ifeval::["{artifact-type}" == "IG"]
*Instructor Note:* {{ topic.instructor_note }}
endif::[]

ifeval::["{artifact-type}" != "SLIDE"]
{{ topic.content }}

{% if topic.activity %}
*Activity:* {{ topic.activity }}
{% endif %}
endif::[]

ifeval::["{artifact-type}" == "SLIDE"]
{% for b in (topic.bullets or []) %}
* {{ b }}
{% endfor %}
endif::[]

<<<
{% endfor %}
{% endif %}

<<<
{% endfor %}

[appendix]
=== Glossary
ifeval::["{artifact-type}" != "SLIDE"]
ifdef::glossary[]
- {glossary}
endif::[]
endif::[]

[discrete]
=== Additional Notes
ifeval::["{artifact-type}" == "IG"]
*Instructor Tip:* Reinforce cross-module connections or common pitfalls.
endif::[]
